<div class="flex flex-col justify-center font-IBM bg-whiteFixed rounded-md shadow-sm my-10 mx-20 p-6 space-y-4">
  <div>
    <h2 class="text-3xl font-medium">Listado de pacientes</h2>
    <p class="text-sm text-slate-500">A continuación se muestra un listado de los pacientes registrados en el sistema.</p>
  </div>
  <div>
    <div class="relative overflow-x-auto cursor-default">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
              <tr>
                  <th scope="col" class="px-6 py-3">
                    Paciente
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Genero
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Edad
                  </th>
                  <th scope="col" class="px-6 py-3">
                    CURP
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Acciones
                  </th>
              </tr>
          </thead>
          <tbody>
            @for (patient of showContentPage(pageIdx); track $index) {
              <tr class="bg-white border-b hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ patient.first_name }} {{ patient.last_name }}
                    @if (patient.medical_history == null) {
                      <sup class="text-xs text-red-500 animate-pulse">●</sup>
                    }
                </th>
                <td class="px-4 py-4">
                    {{ patient.medical_history?.gender || 'No especificado' }}
                </td>
                <td class="px-4 py-4">
                    {{ patient.medical_history?.age || 'No especificado' }}
                </td>
                <td class="px-6 py-4">
                    {{ patient.curp }}
                </td>
                <td class="flex flex-row space-x-2 px-6 py-2">
                  <button
                    type="button" title="Ver información del paciente" class="text-white bg-primaryGreen hover:bg-secondaryGreen focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center inline-flex items-center">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                      <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                  </button>
                  <button type="button" title="Imprimir información del paciente" class="text-sm p-2 text-center inline-flex items-center text-white bg-sky-300 hover:bg-sky-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M16.444 18H19a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2.556M17 11V5a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-4Z"/>
                    </svg>
                  </button>
                  <button 
                    (click)="toggleModal(patient.id)"
                    type="button" title="Modificar información del paciente" class="text-sm p-2 text-center inline-flex items-center text-white bg-orange-300 hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                    </svg>
                  </button>
                  <button 
                    (click)="deletePatient(patient.id)"
                    type="button" title="Eliminar información del paciente" class="text-sm p-2 text-center inline-flex items-center text-white bg-red-400 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            }
          </tbody>
      </table>
    </div>
  </div>

  <div class="flex justify-end">
    <nav aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px text-sm">
        <li>
          <button
            (click)="updatePageIdx(pageIdx - 1)"
            [disabled]="pageIdx === 1"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Anterior</button>
        </li>
        @for (item of [].constructor(pages); track $index) {
          <li>
            <button
              [ngClass]="{'text-blue-600 bg-blue-100 hover:bg-blue-200 hover:text-blue-700': ($index + 1) == pageIdx}"
              (click)="updatePageIdx($index + 1)"
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ ($index + 1) }}</button>
            </li>
        }
        <li>
          <button
            (click)="updatePageIdx(pageIdx + 1)"
            [disabled]="pageIdx === pages"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Siguiente</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

@if (patientToUpdate !== null) {
  <div
    [ngClass]="{'hidden': !showModal}"
    class="w-full bg-black bg-opacity-70 h-screen z-50 fixed inset-0 flex items-center">
    <div class="container mx-auto flex flex-col space-y-4 bg-white max-w-4xl h-auto rounded-md p-4">
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-IBM font-semibold">Editar información del paciente</h2>
        <button
          (click)="toggleModal()"
          class="text-white hover:bg-gray-300 border font-medium rounded-lg p-2 flex items-center">
            <svg class="w-6 h-6 text-slate-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
        </button>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="firstName_patient" class="block mb-1 text-sm font-medium text-gray-900">Apellidos paciente</label>
          <input type="text" id="firstName_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese los apellidos del paciente" [value]="patientToUpdate.last_name">
        </div>
        <div class="w-full">
          <label for="lastName_patient" class="block mb-1 text-sm font-medium text-gray-900">Nombre(s) paciente</label>
          <input type="text" id="lastName_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese nombre(s) del paciente" [value]="patientToUpdate.first_name">
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="mail_patient" class="block mb-1 text-sm font-medium text-gray-900">Email paciente</label>
          <input type="email" id="mail_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el email del paciente" [value]="patientToUpdate.email">
        </div>
        <div class="w-full">
          <label for="phone_patient" class="block mb-1 text-sm font-medium text-gray-900">Número de celular paciente</label>
          <input type="tel" id="phone_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el número de celular del paciente" [value]="patientToUpdate.phone">
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="curp_patient" class="block mb-1 text-sm font-medium text-gray-900">Clave Única de Registro de Población (CURP)</label>
          <input type="text" id="curp_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese CURP del paciente" [value]="patientToUpdate.curp">
        </div>
        <div class="w-full">
          <label for="date" class="block mb-1 text-sm font-medium text-gray-900">Fecha cumpleaños</label>
          <div class="relative">
              <input
                [value]="patientToUpdate.birthdate"
                type="date" id="date" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
          </div>
        </div>
      </div>

      <hr>
      <h2 class="text-1xl font-IBM font-semibold">Historial médico</h2>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="age_patient" class="block mb-1 text-sm font-medium text-gray-900">Edad paciente</label>
          <input type="text" id="age_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese la edad del paciente" [value]="patientToUpdate.medical_history?.age">
        </div>
        <div class="w-full">
          <label for="height_patient" class="block mb-1 text-sm font-medium text-gray-900">Altura paciente</label>
          <input type="text" id="height_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese la altura del paciente" [value]="patientToUpdate.medical_history?.height">
        </div>
        <div class="w-full">
          <label for="weight_patient" class="block mb-1 text-sm font-medium text-gray-900">Peso paciente</label>
          <input type="text" id="weight_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el peso del paciente" [value]="patientToUpdate.medical_history?.weight">
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="blood_patient" class="block mb-1 text-sm font-medium text-gray-900">Tipo de sangre paciente</label>
          <input type="text" id="blood_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el tipo de sangre del paciente" [value]="patientToUpdate.medical_history?.blood_type">
        </div>
        <div class="w-full">
          <label for="allergies_patient" class="block mb-1 text-sm font-medium text-gray-900">Alergías paciente</label>
          <input type="text" id="allergies_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese las alergías del paciente" [value]="patientToUpdate.medical_history?.allergies">
        </div>
        <div class="w-full">
          <label for="medications_patient" class="block mb-1 text-sm font-medium text-gray-900">Medicaciones paciente</label>
          <input type="text" id="medications_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese las medicaciones del paciente" [value]="patientToUpdate.medical_history?.medications">
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="w-full">
          <label for="gender_patient" class="block mb-1 text-sm font-medium text-gray-900">Género paciente</label>
          <select id="gender_patient" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" [value]="patientToUpdate.medical_history?.gender">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
      </div>

      <div class="flex flex-row justify-end space-x-4">
        <button
          (click)="toggleModal()"
          type="button" class="text-red-600 border-red-600 hover:bg-red-500 hover:text-white border font-medium rounded-lg text-sm px-5 py-2.5">
          Cancelar
        </button>
        <button
          (click)="toggleModal()"
          type="button" class="text-white bg-sky-800 hover:bg-sky-500 font-medium rounded-lg text-sm px-5 py-2.5">
          Guardar
        </button>
      </div>

    </div>
  </div>
}