<nav class="bg-navbarBlue border-gray-200 font-Roboto">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/logo.png" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Title Navbar</span>
    </a>
    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-row">
        <li>
          <a
            routerLink="/"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="font-semibold border-b-2"
            class="block py-4 px-3 text-white hover:border-b-2">Panel</a>
        </li>
        <li>
          <a
            routerLink="/appointments"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="font-semibold border-b-2"
            class="block py-4 px-3 text-white hover:border-b-2">Citas</a>
        </li>
        <li>
          <a
            routerLink="/patients"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="font-semibold border-b-2"
            class="block py-4 px-3 text-white hover:border-b-2">Pacientes</a>
        </li>
        <li>
          <a
            routerLink="/doctors"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="font-semibold border-b-2"
            class="block py-4 px-3 text-white hover:border-b-2">Doctores</a>
        </li>
        <li>
          <a
            routerLink="/specialties"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="font-semibold border-b-2"
            class="block py-4 px-3 text-white hover:border-b-2">Especialidades</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
